.HomePage {
  height: 100%;
  /* margin: 0rem; */
}
.lightMode{
  background-color: white;
  color: black;
}
.darkMode{
  background-color: black;
  color: #f1f1f1;
}
.HomePage .img {
  height: 2.35rem;
  width: 2.35rem;
  margin-right: 0.1rem;
}
.HomePage nav .img {
  cursor: pointer;
}
.HomePage nav {
  margin: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  color: rgba(0, 0, 0, 0.781);
  padding: 0.7rem;
  margin-bottom: 1rem;
}
.HomePage .s-img,
.HomePage .p-img {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: .3rem;
}
.HomePage .playlist,
.HomePage .songs {
  display: flex;
  align-items: center;
  padding: 0.9rem 0rem;
  padding-left: 0.7rem;
  margin: 0.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.HomePage .modeContainer{
  margin:0.4rem 0.9rem;

}
.HomePage .playlist:hover,
.HomePage .songs:hover{
  color:  #faa9f9 ;
}
.white{
  color: white;
}
.black{
  color: black;
}
.HomePage .playlist h2,
.HomePage .songs h2 {
  font-size: 1.22rem;
}
.HomePage .playlist .forward,
.HomePage .songs .forward {
  width: 0.67rem;
  margin-left: auto;
  margin-right: 1rem;
  color: rgba(0, 0, 0, 0.804);

}
.darkMode .HomePage nav {
  color: white;
  background-color: rgb(58, 52, 52);
}

