.NewPlaylist nav {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  margin-bottom: 2rem;
  background-color: #f1f1f1;
}

.NewPlaylist img {
  width: 1.28rem;
  cursor: pointer;
}
.NewPlaylistWrapper {
  /* color: white; */
  padding: 3rem 1rem;
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  /* background-color: #000000d2; */
  background-color: #f1f1f1;
}
.NewPlaylist{
  background-color: white;
}
.NewPlaylistWrapper p {
  color: rgb(136, 133, 133);
}
.NewPlaylist input {
  width: 100%;
  /* color: #f1f1f1; */
  /* margin-left: 2rem; */
  cursor: pointer;
  background: none;
  padding: 0.3rem 0.4rem;
  outline: none;
  border: none;
  border-bottom: 2.3px solid black;
}
.playlistBtn {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 1rem;
}
.playlistBtn h4 {
  cursor: pointer;
  margin-right: 1rem;
}
.playlistBtn :hover {
  color: #faa9f9 ;
}
/* Dark mode styling */
.NewPlaylistDark nav{
  padding: 0.6rem;
  color: white;
  display: flex;
  align-items: center;
  background-color: rgb(58, 52, 52);
}
.NewPlaylistDark{
  background-color: black;
  color: white;
  height: 100vh;
}
.NewPlaylistDark img {
  width: 1.28rem;
}
.NewPlaylistDark .NewPlaylistWrapper {
  color: white;
  background-color: rgb(58, 52, 52);
}
.NewPlaylistDark  input {
  width: 100%;
  cursor: pointer;
  background: none;
  padding: 0.1rem 0.4rem;
  outline: none;
  border: none;
  color: white;
  border-bottom: 2.3px solid white;
}
@media (max-width: 769px) {
  .NewPlaylistWrapper {
    width: 90%;
    margin-top: 2rem;
    padding: 2rem 1rem;
  }
}
